<div class="container">
    <h2>User Details</h2>
    <div class="row">
      <div class="col-md-6">
        <div>
          <label><b>First Name</b></label> {{ user.firstName }}
        </div>
        <div>
          <label><b>Last Name</b></label> {{ user.lastName }}
        </div>
        <div>
          <label><b>Email</b></label> {{ user.email }}
        </div>
        <div>
          <label><b>Address</b></label> {{ user.address }}
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <label><b>State</b></label> {{ user.state }}
        </div>
        <div>
          <label><b>Created</b></label> {{ user.lastUpdated | date: 'full'}}
        </div>
        <div>
          <label><b>Last Updated</b></label> {{ user.lastUpdated | date: 'full'}}
        </div>
      </div>
    </div>
  </div>
  